@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

p {
  text-align: center;
  padding: 3rem 0;
}

img {
  width: 100%;
}

input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

input,
select {
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
  padding: 0.7rem 1.5rem;
  margin: 1rem 0;
  background-color: transparent;
  position: relative;
  display: block;
  font: 1.2rem;
}

input[type="password"] {
  letter-spacing: 0.2rem;
  font: 1rem bold;
}

ul {
  list-style: none;
}

input:disabled {
  cursor: not-allowed;
}

:focus {
  outline: none;
}

.body-container {
  max-width: 1170px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px #1d9aac;
  opacity: 0.9;
  margin-bottom: 1rem;
  background: #1d9aac;
  color: #fff;
}

.navbar ul {
  display: flex;
}

.navbar h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.navbar h1 a:hover {
  color: #fff;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
  cursor: pointer;
  text-transform: capitalize;
}

.navbar a.active {
  border-bottom: 1px solid #fff;
}

.navbar a:hover {
  color: black;
}

.home-text {
  margin-top: 15rem;
  text-align: center;
}

.form-wrapper {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.form-wrapper h2 {
  margin-bottom: 1rem;
}

.button-wrapper {
  display: "inline-block";
  margin: 2rem 0;
}

.line {
  height: 1px;
  width: 80%;
  margin: 0.2rem auto;
  background-color: silver;
  position: relative;
}

.line span {
  position: absolute;
  left: calc(50% - 1.5rem);
  top: -0.8rem;
  background-color: #fff;
  padding: 0 1rem;
  font-size: 0.9rem;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 90%;
  margin: auto;
  background-color: #fff;
  box-shadow: 20px 20px 25px -5px grey;
  padding: 1rem;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-content: space-between;
  align-items: center;
}

.table-wrapper {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  border-top: 1px solid silver;
}

.heading {
  font-weight: 500;
}

.heading span {
  padding: 0.5rem 0;
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.heading span a {
  display: flex;
  align-items: center;
  color: #000;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 20px 25px -5px grey;
  padding: 1rem;
}

.backArrow {
  margin: 2rem 0;
}

.backArrow a {
  color: #1d9aac;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  padding: 0 2rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.input-wrapper {
  position: relative;
  margin-top: 2.5rem;
}

.form-wrapper form label {
  position: absolute;
  left: 1.3rem;
  top: -0.9rem;
  padding: 0 0.5rem;
  background: #fff;
  z-index: 3;
}

.input-wrapper span {
  color: red;
  margin: -0.8rem 0;
  font-size: 0.8rem;
  position: absolute;
}

.form-grid .input-wrapper label {
  position: absolute;
  left: 1.3rem;
  padding: 0 0.5rem;
  background: #fff;
  z-index: 3;
}

.createButton {
  display: block;
  margin: 2rem 0;
}

.modalOverlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
}

.modalBody {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalTitle {
  padding-bottom: 0.5rem;
  background-color: #f7f7f7;
  padding: 1rem;
}

.modalActions {
  text-align: right;
  background-color: #f7f7f7;
  padding: 1rem;
}

.modalButton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

.modalButton a {
  width: 100%;
}
