.form-wrapper {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.button-wrapper {
  display: "inline-block";
  margin: 2rem 0;
}

.line {
  height: 1px;
  width: 80%;
  margin: 0.2rem auto;
  background-color: silver;
  position: relative;
}
.line span {
  position: absolute;
  left: calc(50% - 1.5rem);
  top: -0.8rem;
  background-color: #fff;
  padding: 0 1rem;
  font-size: 0.9rem;
}
